# Enable the rewrite engine
RewriteEngine On

# Disable directory browsing
Options -Indexes +FollowSymLinks

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

# Prevent access to .htaccess file
<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>